.bg{
    /* background-color: #021E37; */
    /* background-color: #00C3ED; */
    background-color: #1A73E8;
    
}
.auto {
    margin-left: auto;
    color: #F4F6F7;
    margin-right: 30px;
    padding: 5px;
}
.link {
    font-size: 17px;
}

.logo{
    margin-left: 20px;
    width: 150px;
}